body {
    margin: 0;
}
.header {
    width: 1000px;
    height: 72px;
    background-color: #fffabe;
}
.header img {
    margin-top: 22px;
    margin-left: 40px;
}
.header ul {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    margin-left: 100px;
    position: relative;
    bottom: 12px;
}
.header li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #515151;
    display: inline;
    margin-right: 60px;
}
.header li a:link {
    text-decoration: none;
}
.header li a:hover {
    color: #d42551;
}
.columns {
    width: 1000px;
}
#column1 {
    height: 298px;
    width: 240px;
    display: inline-block;
}
#column2 {
    width: 755px;
    display: inline-block;
}
#column2 p:nth-of-type(1) {
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     color: #6a6969
}
#column2 p:nth-of-type(3) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969
}
#column2 p:nth-of-type(6) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #6a6969
}
#column2 p:nth-of-type(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
}
#column2 p:nth-of-type(4) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
}
#column2 p:nth-of-type(5) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
}
.schedule {
    width: 100%;
    text-align:center;
}
.schedule ul {
    list-style-type: none;
    display: inline-block;
    padding-left: 0;
    width: 126px;
    height: 140px;
    text-align: initial;
    margin-right: 6px;
}
.schedule li {
    width: 126px;
    height: 33px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #6a6969;
    background-color: #fffabe;
}
.schedule li img {
    float: right;
}
.schedule ul li:nth-of-type(1) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6a6969;
}
#coconut {
    background-color: #824603;
    color: white;
}
#vanilla {
    background-color: #df5277;
    color: white;
}
#lemon {
    background-color: #a2304e;
    color: white;
}
#almond {
    background-color: #c39005;
    color: white;
}
footer {
    width: 1000px;
    height: 80px;
    background-color: #df5277;
    text-align: center;
}
footer ul {
    list-style-type: none;
    display: block;
    padding-left: 0;
    margin: 0;
    top: 8px;
    position: relative;
}
footer li {
    display: inline-block;
    color: white;
    width: 25%;
}
footer li:nth-of-type(2) {
    padding-right: 25px;
    padding-left: 25px;
}
#footer_img1 {
    padding-right: 20px;
}
#footer_img2 {
    padding-right: 20px;
}
#footer_img3{
    padding-left: 20px;
    padding-right: 20px;
}

footer p {
    display: inline-block;
    color: white;
}




