
    <div class="row">
        <div class="col-sm-12 top-image">
            <img id="welcome_img" src="assets/images/gifts-parties-image.png">
        </div>
    </div>
    <div class="row">
        <div class="article_content col-sm-12" id="article_gift_parties">
            <h4 class="header_text">Let's eat macarons!</h4>

            <p class="para_text">We make it easy to share la passion du macaron with your friends, family, and colleagues.
                Choose from our array of premium gift options, or we can create a custom solution. Contact us when you need
                help planning your celevration! <span>orders@mboutique.com</span></p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 gifts_description">
            <div class="col-sm-7">
                <h4 class="header_text">Gift Boxes</h4>

                <p class="para_text">Our signature gift boxes make macarons the perfect gift for any occasion.</p>

                <div id="gift_and_tower">
                    <div id="gift_box_menu">
                        <ul class="para_text">
                            <li>gift box of 6 macarons in raspberrywhite - $10</li>
                            <li>gift box of 12 macarons in white, pistachio, or violet - $20</li>
                            <li>gift box of 24 macarons in violet - $40</li>
                            <li>gift box of 36 macarons in silver - $60</li>
                            <li>gift box à la ronde of 60 macarons in violet or silver – $120</li>

                        </ul>
                    </div>
                    <h4 class="header_text">Party Tower</h4>

                    <p class="para_text">
                        Our 5-tiered party tower becomes the centerpiece of any special event or private celebration, elegantly
                        presenting your unique selection of sixty macarons.
                    </p>
                    <ul class="para_text">
                        <li>tower of 60 macarons – $120</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
