
    <div class="row">
        <div class="col-sm-12 top-image">
            <img id="welcome_img" src="assets/images/our-macarons-image.png">
        </div>
    </div>
    <div class="row">
        <div class="article_content col-sm-4">
            <h4 class="header_text"><strong>Our macarons are freshly made by hand</strong></h4>

            <p class="para_text">The vivid hues of our unique macarons reflect the natural flavors and essences that infuse
                the ganache filling of these delicious almond cookies - each has its own personality, and all of them are
                made to savour for their delicacy and unique character.</p>
            <h4 class="header_text">Classics</h4>
            <div id="classics_menu">
                <div id="classics_menu_img"></div>
                <div id="menu_container">
                    <ul class="para_text">
                        <li>caribbean chocolate</li>
                        <li>coconut</li>
                        <li>colombian coffee</li>
                        <li>green tea</li>
                        <li>lemon</li>
                        <li>madagascar vanilla</li>
                        <li>passion fruit</li>
                        <li>rose</li>
                        <li>raspberry</li>
                        <li>tiffany blue</li>
                        <li>sicilian pistachio</li>
                        <li>sweet wedding almond</li>
                        <li>violet cassis</li>
                        <li>salted caramel</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="article_content_space col-sm-8">
            <img class="hidden-xs" id="article_img" src="assets/images/our-macarons-background.png">
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="para_text" id="post_classics_text">
                After purchase we recommend keeping macarons in the refrigerator; let them come to room temperature before
                serving - about 10 minutes. For best degustation, our macarons should be consumed within 3 days.
            </p>
        </div>
    </div>
