<div class="row">
    <div class="col-sm-12 top-image">
        <img id="welcome_img" src="assets/images/welcome-image.png">
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <img class="hidden-xs" id="macarons_left" src="assets/images/macarons-image.png">
    </div>
    <div class="col-sm-8">
        <h4 id="welcome">Welcome to MBoutique!</h4>
        <p>We're a home-based baking business that specializes in the making of French macarons, a gluten-free
            pastry
            item made from ground almonds. Our business began at the West Reading Farmers Market in 2011. Last year
            (2013) marked our third and final season of participation at the market.
            MBoutique was established to pay homage to the delicate French confectionery, the macaron. Our shop has
            been
            recognized as the connoisseurs of this delicious French pastry because of the wonderful variety of
            flavors
            from our great master chefs.</p>
        <h4 id="our_macarons">We love Macarons!</h4>

        <p>Renowned macarons, French delights of the moment can be met in a variety of flavors and colors and are
            brilliant precisely because of their simplicity - a crispy coating, but delicate in a loose blanket jam,
            chocolate butter cream is spread inviting .
            Macarons combines perfectly with champagne or white wine, tea or hot chocolate, fresh juices and natural
            fruit flavored coffee and guarantee that these little delights soon become friend that you can not
            break.</p>
        <h4>Find the flavor that you like. Try a sample every day!</h4>
    </div>
</div>

<div class="full_menu col-sm-12 row">
    <div>
        <ul class="daily_menu">
            <li>Monday</li>
            <li>15:00 - 16:00</li>
            <li>chocolate<img src="assets/images/chocolate.png"></li>
            <li class="coconut_color">coconut<img src="assets/images/coconut.png"></li>
        </ul>
    </div>
    <div>
        <ul class="daily_menu">
            <li>Tuesday</li>
            <li>14:00 - 15:00</li>
            <li>violet cassis<img src="assets/images/violet-cassis.png"></li>
            <li>green tea<img src="assets/images/green-tea.png"></li>
        </ul>
    </div>
    <div>
        <ul class="daily_menu">
            <li>Wednesday</li>
            <li>09:00 - 10:00</li>
            <li>passion fruit<img src="assets/images/passion-fruit.png"></li>
            <li class="vanilla_color">vanilla<img src="assets/images/vanilla.png"></li>
        </ul>
    </div>
    <div>
        <ul class="daily_menu">
            <li>Thursday</li>
            <li>18:00 - 19:00</li>
            <li>coffee<img src="assets/images/coffee.png"></li>
            <li>pistachio<img src="assets/images/pistachio.png"></li>
        </ul>
    </div>
    <div>
        <ul class="daily_menu">
            <li>Friday</li>
            <li>11:00 - 12:00</li>
            <li>raspberry<img src="assets/images/raspbery.png"></li>
            <li class="lemon_color">lemon<img src="assets/images/lemon.png"></li>
        </ul>
    </div>
    <div>
        <ul class="daily_menu">
            <li>Saturday</li>
            <li>13:00 - 14:00</li>
            <li>rose<img src="assets/images/rose.png"></li>
            <li>tiffany blue<img src="assets/images/tiffany-blue.png"></li>
        </ul>
    </div>
    <div>
        <ul class="daily_menu">
            <li>Sunday</li>
            <li>10:00 - 11:00</li>
            <li>caramel<img src="assets/images/caramel.png"></li>
            <li class="almond_color">almond<img src="assets/images/almond.png"></li>
        </ul>
    </div>
</div>
