<!--welcome.html-->
<div class="row">
    <div class="col-sm-12 top-image">
        <img class="img-responsive" src="assets/images/welcome-image.png" alt="Welcome image">
    </div>
</div>
<div class="row" id="welcome_info">
    <div class="col-sm-4">
        <img class="hidden-xs" class="img-responsive" src="assets/images/macarons-image.png" alt="Macarons image">
    </div>
    <div class="col-sm-8">
        <h3>Welcome to MBoutique!</h3>
        <p>We're a home-based baking business that specializes in the making of French macarons, a gluten-free pastry
            item made from ground almonds. Our business began at the West Reading Farmers Market in 2011. Last year
            (2013) marked our third and final season of participation at the market. MBoutique was established to pay
            homage to the delicate French confectionery, the macaron. Our shop has been recognized as the connoisseurs
            of this delicious French pastry because of the wonderful variety of flavors from our great master chefs.</p>
        <h3>We love Macarons!</h3>
        <p>Renowned macarons, French delights of the moment can be met in a variety of flavors and colors and are
            brilliant precisely because of their simplicity - a crispy coating, but delicate in a loose blanket jam,
            chocolate butter cream is spread inviting. Macarons combines perfectly with champagne or white wine, tea or
            hot chocolate, fresh juices and natural fruit flavored coffee and guarantee that these little delights soon
            become friend that you can not break.</p>
        <h3>Find the flavor that you like. Try a sample every day!</h3>
    </div>
</div>

<div class="row" id="welcome_menu">
    <div class="day">
        <ul>
            <li>Monday</li>
            <li>15:00 - 16:00</li>
            <li class="chocolate">chocolate</li>
            <li class="coconut">coconut</li>
        </ul>
    </div>
    <div class="day">
        <ul>
            <li>Tuesday</li>
            <li>14:00 - 15:00</li>
            <li class="violetCassis">violet cassis</li>
            <li class="greenTea">green tea</li>
        </ul>
    </div>
    <div class="day">
        <ul>
            <li>Wednesday</li>
            <li>09:00 - 10:00</li>
            <li class="passionFruit">passion fruit</li>
            <li class="vanilla">vanilla</li>
        </ul>
    </div>
    <div class="day">
        <ul>
            <li>Thursday</li>
            <li>18:00 - 19:00</li>
            <li class="coffee">coffee</li>
            <li class="pistachio">pistachio</li>
        </ul>
    </div>
    <div class="day">
        <ul>
            <li>Friday</li>
            <li>11:00 - 12:00</li>
            <li class="raspberry">raspberry</li>
            <li class="lemon">lemon</li>
        </ul>
    </div>
    <div class="day">
        <ul>
            <li>Saturday</li>
            <li>13:00 - 14:00</li>
            <li class="rose">rose</li>
            <li class="tiffanyBlue">tiffany blue</li>
        </ul>
    </div>
    <div class="day">
        <ul>
            <li>Sunday</li>
            <li>10:00 - 11:00</li>
            <li class="caramel">caramel</li>
            <li class="almond">almond</li>
        </ul>
    </div>
</div>
